
.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
  }

.container {
  color: #575F7D;
  font-family: 'Noto Sans', sans-serif;
  font-size: 17px;
  font-weight: lighter;
  margin: 40px auto;
  width: 700px;
  }

body {
  display: block;
  margin: 8px;
  background: #EEF5F7;
}

img {
  border-radius: 50%;
}

a {
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
  color: #575F7D;
  font-weight: 600;
  font-size: 16px;
}



.language-list {
  font-family: 'Noto Sans', sans-serif;

}

.language-list > li {
  list-style: none;
  padding: 0;
}

.list > li {
  list-style: none;
  display: inline-block;
  text-align: center;
  padding: 20px;}

.list i {
  font-size: 50px;
  color: #FF5A5F;
}

.list i:hover {
  color: #575F7D;
}

.card-white .btn:hover {
  background-color: #575F7D;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }

  .card-white {
    text-align: center;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.btn {
  text-decoration: none;
  color: white;
  background-color: #FF5A5F;
  border-radius: 4px;
  box-shadow: 2px 2px 5px black;
  padding: 8px 16px;
  width: 120px;
  margin-left: 230px;
}

.btn > a {
  color: white;
}

.btn:hover {
  background-color: #FF5A5F;
  color: #575F7D;
}

.language-list {
  padding: 0;
}

.list {
  padding: 0;
}
